DATABASE_URL=postgresql://neondb_owner:npg_8DyegHzaO2tF@ep-misty-sun-aqc7yg5v-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=your_super_secret_jwt_key_here
PORT=3000
NODE_ENV=development
